/*
/* Image Card
/*-----------------------------------------------------*/

.image-card {
	position: relative;
}
	.image-card a.thumb-img {
		display: block;
	}
	.image-card a.thumb-img:focus,
	.image-card a.thumb-img:hover {
		opacity: 0.7;
	}
	.image-card a.thumb-img > img {
		display: block;
		width: 100%;
		height: auto;
	}
	.image-card .card-content {
		background: #fff;
		padding: 10px;
	}
	.image-card .card-content p {
		margin-bottom: 0.5em;
	}
	.image-card .screen {
		display: block;
		background-color: #000;
		opacity: 0.5;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.active .image-card .screen,
	.image-card.active .screen {
		display: none;
	}
